<?xml version="1.0"?>
<!-- Rendered to core-site.xml by the image entrypoint (envsubst) on every start. -->
<configuration>
  <property><name>fs.s3a.endpoint</name><value>http://seaweedfs:8333</value></property>
  <property><name>fs.s3a.endpoint.region</name><value>us-east-1</value></property>
  <property><name>fs.s3a.access.key</name><value>seaweedadmin</value></property>
  <property><name>fs.s3a.secret.key</name><value>seaweedadmin123</value></property>
  <property><name>fs.s3a.path.style.access</name><value>true</value></property>
  <property><name>fs.s3a.connection.ssl.enabled</name><value>false</value></property>
  <property><name>fs.s3a.impl</name><value>org.apache.hadoop.fs.s3a.S3AFileSystem</value></property>
  <property><name>fs.s3a.aws.credentials.provider</name><value>org.apache.hadoop.fs.s3a.SimpleAWSCredentialsProvider</value></property>
</configuration>
